{% extends "base.html" %}
{% block content %}

<script>
   $( document ).ready(function(){
    $('select').material_select();       
})
</script>

<h2>Add a New Category</h2>

<form action='#' method='post'>
    <div class="input-field">
    <input type="text" class="validate" name="name" placeholder="Item Title"></div>
    <div class="input-field">
    <input class="waves-effect waves-light btn" type="submit" value="Create" name="create_action">
    <input class="waves-effect waves-light btn" type="submit" value="Cancel" name="create_action">
</form>

{% endblock %}